.actor-card .card-body {
  position: absolute;
  bottom: 0;

  background-image: linear-gradient(rgba(0,0,0, 0),rgba(0,0,0, .5), rgba(0,0,0, 1));
  width: 100%;
  color: var(--white);
}
.actor-card .card-title {
  margin-bottom: 0;
}
